# Игнорируем всё в корне репозитория
/*
!.gitignore

# Разрешаем корневые папки проектов
!WpfApp1/
!TestProject3/

# === WpfApp1 ===
WpfApp1/*
!WpfApp1/Data/
!WpfApp1/Data/**
!WpfApp1/Models/
!WpfApp1/Models/**
!WpfApp1/AddEditItemWindow.xaml
!WpfApp1/AddEditItemWindow.xaml.cs
!WpfApp1/App.xaml
!WpfApp1/App.xaml.cs
!WpfApp1/AssemblyInfo.cs
!WpfApp1/MainWindow.xaml
!WpfApp1/MainWindow.xaml.cs
!WpfApp1/WpfApp1.csproj
!WpfApp1/WpfApp1.csproj.user
!WpfApp1/bin/
WpfApp1/bin/*
!WpfApp1/bin/Release/
!WpfApp1/bin/Release/**# === TestProject3 ===
TestProject3/*
!TestProject3/DatatTests.cs
!TestProject3/IntegrationTests.cs
!TestProject3/ItemTests.cs
!TestProject3/TestProject3.csproj
!TestProject3/TestProject3.csproj.user
!TestProject3/bin/
TestProject3/bin/*
!TestProject3/bin/Release/
!TestProject3/bin/Release/**
!WpfApp1/bin/
WpfApp1/bin/*
!WpfApp1/bin/Release/
!WpfApp1/bin/Release/**
TestProject3/*
!TestProject3/DatatTests.cs
!TestProject3/IntegrationTests.cs
!TestProject3/ItemTests.cs
!TestProject3/TestProject3.csproj
!TestProject3/TestProject3.csproj.user
!TestProject3/bin/
TestProject3/bin/*
!TestProject3/bin/Release/
!TestProject3/bin/Release/**
