# Игнорируем всё в корне репозитория
/*
!.gitignore

# Разрешаем корневые папки проектов
!WpfApp1/
!TestProject3/

# === WpfApp1: игнорируем всё, кроме bin/Release ===
WpfApp1/*
!WpfApp1/bin/
WpfApp1/bin/*
!WpfApp1/bin/Release/
!WpfApp1/bin/Release/**

# === TestProject3: игнорируем всё, кроме bin/Release ===
TestProject3/*
!TestProject3/bin/
TestProject3/bin/*
!TestProject3/bin/Release/
!TestProject3/bin/Release/**
